p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
}
h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 2em;
}

p.important {
  font-size: 1.5em;
  font-weight: 900;
}

.typewriter {
  font-family: "Courier New", Courier, monospace;
}

.emphasized {
  font-style: italic;
}

.colorRed {
  color: #cc0000;
}

p.spaceheight {
  letter-spacing: 0;
  word-spacing: 1em;
  line-height: 1.8em;
}

h3 {
  text-align: center;
}

p.justi {
  text-align: justify;
}

p.indets {
  text-indent: 1em;
}

blockquote.special {
  font-size: .85em;
  color: green;
}

p.margin_buu {
  margin: 2em;
}

.boarder {
  border: 2px dashed purple;
  padding: .2em .2em .6em 0;
}

h4, p.gravity {
  text-align: center;
}
h2#originalID {
  color: orange;
}
div#uber p {
  margin: 0em 3em 0em 3em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
}
img.own-line {
  display: block;
}
img.move-right {
  margin-left: 30em;
}
img.themiddle {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.wrap-around-right {
  float: left;
  margin: 0 1em 1em 0;
}
p.wrap-clear {
  clear: both;
}
a:hover {
  color: orange;
}
a {
  color: blue;
}
img.stooges {
  float: left;
  margin: 0 1em 1em 0;
  font-weight: bolder;
  font-size: 3em;
}
ol {
  margin-bottom: 2em;
}
ul#square {
  list-style-type: square;
}
table {
  text-align: center;
  border-collapse: collapse;
}
th, td {
  border: 1px solid blue;
}
th, td {
  padding: .25em;
}
table#wide {
  text-align: center;
  width: 50%;
}
td#same {
  border: 2px dotted red;
  padding: 5px;
  width: 50%;
}
td.bgcolor {
  background-color: lightgray;
}
input[type="text"], textarea {
  font-size: 1em;
}
form {
  font-size: 1.5em;
}
/*
This is a multi line comment! it requires putting the comment marking
on their own separate lines.
*/
div#cool {
  width: 30%;
  background-image: url("http://www.asmarterwaytolearn.com/gray-gradient-slice.png");
  margin: 0 auto 0 auto;
  border: 20px dotted white;
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  padding: 0 5em 0 5em;
}
div#west {
  width: 46%;
  float: left;
  border: 1px solid black;
}
div#east {
  width: 46%;
  float: right;
  border: 1px solid black;
}
.wrap-clear {
  clear: both;
}
div#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #A5F0EE;
  border: 1px solid black;
}
div#header img, div#invisible-header img {
  float: left;
  margin: 2em 0 0 2em;
}
div#header h2, div#invisible-header h2 {
  font-size: 6em;
  font-weight: 900;
  text-align: center;
  margin: 0 auto 0 auto;
}
div#invisible-header {
  width: 100%;
  visibility: hidden;
  margin-top: -1%;
}
p.clearFloat {
  clear: both;
}
div#navbar {
  clear: both;
  width: 100%;
}
div#navbar ul li {
  margin: 0 .25em .25em .25em;
  display: inline;
  width: 19%;
  float: left;
  margin-right: .5em;
}
div#navbar ul {
  list-style-type: none;
  padding-left: 0;
}
div#navbar ul li a {
  text-decoration: none;
  font-size: 1.5em;
  color: red;
  display: block;
  padding: .35em;
}
li.changeBackground {
  background-color: black;
}
li.changeBackground:hover {
  background-color: grey;
}
li.changeBackground:active {
  background-color: pink;
}
body {
  background-image: url("http://www.asmarterwaytolearn.com/monarch.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
}
div.spencer {
  width: 80%;
  position: relative;
  left: 10%;
  border: 1px solid black;
}
p.spence {
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-device-width: 800px) {
  p.test {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-left: 10%;
  }
}
p.tooMuch {
  max-width: 100px;
  max-height: 100px;
  overflow: scroll;
  margin-left: 10%;
}
a#move {
  margin-left: 150px;
}
input#bigButton {
  font-size: 5em;
}